/* Fonts */
@font-face {
    font-family: Gotham Rounded;
    src: url(../fonts/GothamRoundedBook.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Gotham Rounded;
    src: url(../fonts/GothamRoundedMedium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Gotham Rounded;
    src: url(../fonts/GothamRoundedBold.ttf);
    font-weight: 700;
}


/* Defult CSS */
html,
body {
    min-height: 100%;
}

img {
    max-width: 100%;
}


/* Typograpgy */
body {
    font-family: Gotham Rounded;
    font-weight: 400;
    color: #666;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    color: #333;
    font-size: 26px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
}

strong {
    font-weight: 500;
}

.color-green {
    color: #01A79D;
}

.button-primary {
    color: #fff !important;
    padding: 12px 15px !important;
    border-color: rgba(0,0,0,0);
    border-radius: 100px;
    text-transform: uppercase;
    background-color: #01A79D;
    font-size: 14px;
    letter-spacing: 2px;
}

.button-primary:hover {
    color: #fff;
}

.button-primary-arrow {
    color: #fff !important;
    padding: 15px 30px !important;
    border-color: rgba(0,0,0,0);
    border-radius: 100px;
    text-transform: uppercase;
    background-color: #01A79D;
    font-size: 14px;
    letter-spacing: 2px;
}

.button-primary-arrow:hover {
    color: #fff;
}

.button-primary-arrow:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 800;
    opacity: 0;
    position: absolute;
    margin-left: -1em;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.button-primary-arrow:hover:after {
    opacity: 1;
    margin-left: 5px;
}

.button-secondary {
    color: #01A79D !important;
    padding: 15px 30px;
    border-color: rgba(0,0,0,0);
    border-radius: 100px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;
}

.button-secondary:hover {
    color: #fff;
}

.button-secondary-arrow {
    color: #01A79D !important;
    padding: 15px 30px;
    border-color: rgba(0,0,0,0);
    border-radius: 100px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;
}

.button-secondary-arrow:hover {
    color: #fff;
}

.button-secondary-arrow:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 800;
    opacity: 0;
    position: absolute;
    margin-left: -1em;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.button-secondary-arrow:hover:after {
    opacity: 1;
    margin-left: 5px;
}

.lead {
    font-size: 23px;
    font-weight: 500;
}

#page-header-section {
    background-position: center;
    background-size: cover;
    padding-top: 185px;
    padding-bottom: 185px;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.43);
    color: #fff;
    line-height: 1.5em;
}


/* Header Area */
header .logo {
    max-width: 210px;
}

header .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

header .menu {
    margin-left: auto;
}

header .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .menu>ul>li {
    display: inline-block;
    margin-right: 22px;
    position: relative;
}

header .menu>ul>li:last-child {
    margin-right: 0;
}

header .menu>ul>li a {
    padding: 30px 0;
    display: block;
    font-size: 13px;
    color: rgba(0,0,0,.6);
    text-transform: uppercase;
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
}

header .menu>ul>li.active>a {
    color: #01a79d;
}

header .menu>ul>li>a:hover {
    opacity: .7;
    text-decoration: none;
}

header .menu>ul>li.has-submenu > a {
    padding-right: 20px;
    position: relative;
}

header .menu>ul>li.has-submenu > a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    font-weight: 800;
}

header .menu>ul>li>ul {
    position: absolute;
    background: #fff;
    top: 100%;
    left: 0;
    border-top: 3px solid #01a79d;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(25px);
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
}

header .menu>ul>li>ul>li {
    padding: 0 20px;
    margin-right: 0;
}

header .menu>ul>li>ul>li>a {
    padding: 12px 20px;
    width: 200px;
}

header .menu>ul>li>ul>li>a:hover {
    background-color: rgba(0,0,0,.03);
    opacity: .7;
    text-decoration: none;
}

header .menu>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

header .menu>ul>li.mega-menu {
    position: initial;
}

header .menu>ul>li.mega-menu>ul {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 0;
    z-index: 1;
}

header .menu>ul>li.mega-menu>ul>ul {
    padding: 0 25px;
}

header .menu>ul>li.mega-menu>ul>ul h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #444;
}

header .menu>ul>li.mega-menu>ul>ul a {
    padding: 12px 20px;
    width: 200px;
}

header .menu>ul>li.mega-menu>ul>ul a:hover {
    background-color: rgba(0,0,0,.03);
    opacity: .7;
    text-decoration: none;
}

header .menu>ul>li.mega-menu>ul img {
    max-width: 250px;
}

.section-header {
    margin-bottom: 50px;
}

.section-header h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(0,0,0,0.2);
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-bottom: 25px;
}


/* Hero Section */
#hero-section {
    color: #fff;
    background-image: radial-gradient(circle at top left,rgba(1,167,157,0.67) 0%,rgba(1,167,157,0.59) 80%),url(../img/hero/bg.jpeg);
    background-position: center;
    background-size: cover;
    padding-top: 16vw;
    padding-bottom: 16vw;
}

#hero-section .hero-contents {
    max-width: 710px;
    width: 100%;
}

#hero-section span {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
}

#hero-section .lead {
    margin-bottom: 30px;
}


/* CTA Section */
#cta-section {
    padding: 54px 0;
    background: #f2f4f6;
    text-align: center;
}

#cta-section h2 {
    margin-bottom: 30px;
}


/* Text Image Section */
.text-image-section .text-box {
    width: 50%;
    padding: 100px;
}

.text-image-section .text-box.bg-green {
    color: #fff;
    background-color: #01A79D;
}

.text-image-section .text-box h4 {
    color: rgba(0,0,0,0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 10px;
}

.text-image-section .text-box.bg-green h4 {
    color: #fff;
}

.text-image-section .text-box h2 {
    margin-bottom: 10px;
}

.text-image-section .text-box.bg-green h2 {
    color: #fff;
}

.text-image-section .text-box p {
    color: #486066;
    line-height: 1.8em;
    font-size: 15px;
}
.text-image-section .text-box.bg-green p {
    color: #fff;
}

.text-image-section .image-box {
    width: 50%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}


/*Image Text Section */
.image-text-section .text-box {
    width: 50%;
    padding: 100px;
}

.image-text-section .text-box.bg-green {
    color: #fff;
    background-color: #01A79D;
}

.image-text-section .text-box h4 {
    color: rgba(0,0,0,0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 10px;
}

.image-text-section .text-box.bg-green h4 {
    color: #fff;
}

.image-text-section .text-box h2 {
    margin-bottom: 10px;
    color: #01A79D;
}

.image-text-section .text-box.bg-green h2 {
    color: #fff;
}

.image-text-section .text-box p {
    line-height: 1.8em;
    font-size: 15px;
}

.image-text-section .image-box {
    width: 50%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}


/* Getting Started is Easy Section */
#getting-started-section {
    padding: 127px 0 127px;
}

#getting-started-section .section-header {
    margin-bottom: 60px;
}

#getting-started-section .getting-item i {
    display: inline-block;
    font-size: 64px;
    color: #01A79D;
    margin-bottom: 30px;
}
#getting-started-section .getting-item h4 {
    font-size: 18px;
    color: #333;
}
#getting-started-section .getting-item p {
    line-height: 28px;
}

#getting-started-section .getting-btn {
    padding-top: 27px;
}

/* Training Studio Section */
#trainig-studio-section {
    background-image: url(../img/trainig-studio/bg.jpg);
    padding: 54px 0;
    background-size: cover;
}

#trainig-studio-section .training-content {
    background-color: #ffffff;
    padding: 70px 96px;
    width: 80%;
    margin: 0 auto;
}

#trainig-studio-section .training-content h2 {
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 1.5em;
}

#trainig-studio-section .training-content p {
    line-height: 1.8em;
}

#trainig-studio-section .training-content .btn {
    min-width: 158px;
    margin: 0 10px;
}


/* Team Section */
#team-section {
    padding: 127px 0 130px;
}

#team-section.padding-sm {
    padding: 100px 0 0;
}

#team-section .section-header {
    margin-bottom: 90px;
}

#team-section .section-header h2 {
    line-height: 1.4em;
}

#team-section .button-box {
    margin-top: 60px;
}

#team-section .team-item-box {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    line-height: 1.8em;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0px 10px 24px 6px rgba(0,0,0,0.06);
    text-align: center;
    margin-bottom: 30px;
}

#team-section .team-item-box:hover {
    box-shadow: 0px 50px 80px 0px rgba(0,0,0,0.14);
}

#team-section .team-item-box a {
    text-decoration: none;
}

#team-section .team-section-content .team-img {
    display: block;
    width: auto;
    margin: 0 0 12px;
}

#team-section .team-section-content h4 {
    font-size: 18px;
    color: #486066;
    margin-bottom: 10px;
    line-height: 1em;
    font-weight: 700;
}

#team-section .team-section-content p {
    color: #aaa;
    line-height: 1.8em;
    margin-bottom: 0;
}


/* Newsletter Section */
#newsletter-section {
    background-image: linear-gradient(180deg,#01a79d 0%,rgba(1,167,157,0.68) 70%),url(../img/newsletter/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#newsletter-section .text-box {
    background-image: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0.18) 100%);
    width: 50%;
    padding: 120px;
}

#newsletter-section .text-box-inner {
    color: #fff;
    text-align: right;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
}

#newsletter-section .text-box-inner h2 {
    font-size: 45px;
    letter-spacing: 2px;
    line-height: 1.5em;
}

#newsletter-section .text-box-inner p {
    font-size: 19px;
    line-height: 1.8em;
}

#newsletter-section .form-box {
    width: 50%;
    padding: 120px;
}

#newsletter-section .form-box-inner {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#newsletter-section .form-group {
    margin-bottom: 30px;
}

#newsletter-section .form-box-inner .form-control {
    border-radius: 100px;
    padding: 28px 26px;
    width: 100%;
    color: #01A79D;
    opacity: 1;
}

#newsletter-section .social-icon-list {
    text-align: center;
    padding: 20px;
}

#newsletter-section .social-icon-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#newsletter-section .social-icon-list ul li {
    display: inline-block;
    margin: 10px;
}

#newsletter-section .social-icon-list ul li a {
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.18);
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    display: block;
    font-size: 20px;
}


/* Blog Section */
#blog-section {
    padding: 125px 0;
    background-color: #fafbfc;
}

#blog-section .blog-item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

#blog-section .blog-item .contents-box {
    min-height: 270px;
    padding: 20px;
    background: #fff;
}

#blog-section .blog-item .contents-box h3 a {
    color: #333;
    border-bottom: 1px solid #ededed;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#blog-section .blog-item .contents-box h3 a:hover {
    text-decoration: none;
}

#blog-section .blog-item .contents-box p {
    color: #666;
    font-size: 14px;
    line-height: 1.7em;
}

#blog-section .blog-item .contents-box a {
    color: #01a79d;
    display: block;
}

#blog-section .blog-item .meta-box {
    color: #666;
    padding: 10px 20px 20px;
    font-size: 14px;
}

#blog-section .blog-item .meta-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#blog-section .blog-item .meta-box ul li {
    display: inline-block;
    margin-right: 10px;
}

#blog-section .blog-item .meta-box ul li:last-child {
    margin-right: 0;
}

#blog-section .blog-item .meta-box ul li a {
    color: #666;
}


/* Booking Section */
#booking-section {
    padding: 125px 0 100px;
    background-image: linear-gradient(180deg,#01a79d 5%,rgba(88,88,91,0.52) 100%),url(../img/booking-section/bg.jpeg);
    background-position: center;
    background-size: cover;
}


#booking-section .booking-form-box {
    width: 80%;
    max-width: 700px;
    margin: auto;
}

#booking-section .booking-form-box h2 {
    color: #FFFFFF;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 50px;
}

#booking-section .form-items .form-group {
    margin-bottom: 25px;
}

#booking-section .form-items .form-control {
    background: #f7f7f7;
    border: 1px solid #c4c4c4;
    border-radius: 0;
    box-shadow: none;
    color: #787878;
    transition: all .5s;
}

#booking-section .form-items input.form-control {
    height: 50px;
}

#booking-section .form-items textarea.form-control {
    height: 200px;
}

#booking-section .form-items .custom-select {
    height: 50px;
    border-radius: 0;
}

#booking-section .form-items label {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

#booking-section .form-items label span{
    color: #e80000;
}

/* Footer Area */
footer .footer-top {
    padding: 57px 0;
    background-color: #58585B;
}

footer .footer-top .container-fluid {
   width: 90%;
}

footer .footer-top .logo-box {
   max-width: 345px;
   width: 100%;
}

footer .footer-top .quick-links-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .footer-top .quick-links-box ul li a {
   text-decoration: none;
   color: #fff;
   font-size: 14px;
   text-transform: uppercase;
}

footer .footer-top .social-icon-list {
    text-align: right;
}

footer .footer-top .social-icon-list ul {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

footer .footer-top .social-icon-list ul li {
    display: inline-block;
    margin-right: 10px;
}

footer .footer-top .social-icon-list ul li:last-child {
    margin-right: 0;
}

footer .footer-top .social-icon-list ul li a {
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.18);
    border-radius: 50%;
    line-height: 52px;
    text-align: center;
    color: #fff;
    display: block;
    font-size: 20px;
}

footer .footer-top .social-icon-list p {
    color: #fff;
}

footer .footer-top .social-icon-list p a {
    text-decoration: none;
    color: #fff;
}

footer .footer-bottom {
    padding: 27px 0;
    background: #000000;
}

footer .footer-bottom .text-box {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

footer .footer-bottom p {
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}


/* Hero Section Two */
#hero-section-2 {
    background-color: rgba(0,0,0,0.55);
    color: #fff;
    background-position: 50%;
    background-size: cover;
    padding-top: 12vw;
    padding-bottom: 12vw;
    background-blend-mode: overlay;
}

#hero-section-2 .hero-contents {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
}

#hero-section-2 span {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

#hero-section-2 .lead {
    font-size: 16px;
    margin-bottom: 30px;
}


/* Intro Section */
#intro-section {
    padding: 81px 0;
}

#intro-section .section-header {
    color: #01A79D;
}

#intro-section .intro-text {
    font-size: 14px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
    line-height: 1.8em;
}


/* Parallax Section Start */
#parallax-section {
    background-image: url(../img/parallax-section/bg.jpg);
    height: 575px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}


/* FAQ Section */
#faq-section {
    padding: 80px 0 0;
    position: relative;
}

#faq-section:after {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiMwMUE3OUQiPjxwYXRoIGQ9Ik0wIDB2MTQwaDEyODBMMCAweiIvPjwvZz48L3N2Zz4=);
    background-size: 100% 100px;
    transform: rotateY(180deg);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#faq-section h2 {
    color: #333;
}

#faq-section .faq-box {
    padding: 30px 30px 50px;
    background: #f2f2f2;
    z-index: 1;
    position: relative;
}

#faq-section .faq-box .card:nth-child(1) {
    background: #ccd8e5;
}

#faq-section .faq-box .card:nth-child(2) {
    background: #dae1ed;
}

#faq-section .faq-box .card:nth-child(3) {
    background: #e3e9ef;
}

#faq-section .faq-box .card {
    border: none;
    border-radius: 0;
}

#faq-section .card .card-header {
    cursor: pointer;
    position: relative;
    padding-right: 35px;
    border: none;
    height: 70px;
}

#faq-section .card .card-header:before {
    font-family: "Font Awesome 5 Free";
    content: "\f055";
    font-weight: 800;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: #01A79D;
}

#faq-section .card .card-header[aria-expanded="true"]:before {
    content: "\f056";
}


/* Location-section */
#location-section {
    padding: 81px 0 50px;
}

#location-section .text-box {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 80px;
}

#location-section .info-box {
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    padding:30px 40px;
    margin: 20px 10px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

#location-section .icon-box {
    width: 50px;
    font-size: 40px;
    color: #01a79d;
}

#location-section .icon-box {
    width: 50px;
    font-size: 40px;
    color: #01a79d;
}

#location-section .info-text {
    width: calc(100% - 50px);
}

#location-section .info-text h4 {
    color: #333;
    font-weight: 700;
    margin: 0;
    line-height: 36px;
}

#location-section .info-text  {
    font-size: 14px;
}

#location-section .info-text ul {
    padding: 0 12px 0;
}


/* Location Details */
#location-details{
    padding: 90px 0 100px;
}
#location-details h2{
    font-size: 26px;
    color: #333;
}

#location-details p {
    font-size: 14px;
}

#location-details ul {
    font-size: 14px;
    padding: 0 12px 0;
    right: 1px;
}